.questions {
  height: 100vh;
  width: 100wv;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions-question {
  text-align: center;
}

.questions-progress {
  height: 1rem;
}
